

body {
    margin: 0 auto;
    background: rgb(220, 220, 220);
    max-width: 480px;
    height: 100dvh;
    justify-content: center;
    font-family: sans-serif;
    display: flex;
}

.layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
    
}

.header {
    height: 7%;
    display: flex;
    gap: 2vw;
    align-items: center;
}

.main-display {
    height: 8%;
    width: auto;
    background: lightgreen;
    align-content: center;
}

.options-display{
    background: yellow;
    height: 8%;
    align-content: center;
}

.category-display {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.ask-display {
    width: auto;
}

.main-body {
    height: 77%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: lightgray;
}

.character-container {
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    justify-content: center;
    transition: .5s;
}

.characters {
    transition: all 1s;
    width: 100%;
    margin: 0;
    filter: drop-shadow(0px 5px 1px rgb(0,0,0,0.25));
    align-self: center;
    object-fit: contain;
    
}

.character-container.active {
    width: 0px;
    height: 100%;
    font-size: 0;
    transition-delay: .6s;
   
}

.character-container.active > .characters {
    transform: translateY(-10%);
    opacity: 0%;
    transition: .5s;
}

.character-container.active > .character-name {
    opacity: 0%;
    transition: .8s;
}

.character-name{
    text-align: center;
    margin: 0;
    font-family: Kristen ITC;
    font-size: .8rem;
    font-weight: bold;
}

.image-container {
    width: 100%;
    height: 19dvh;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transition: 1s;
    overflow: hidden;
    font-size: 15px;
}

.image-container.empty {
    max-height: 0px;
    opacity: 0;
    padding: 0;
    border: 0;
    transition: 1s;
}

.space{
    transition: all 1s;
    max-height: 600px;
    width: 0%;
    margin: 0;
}

h1 {
    background: rgb(200,200,200);
    text-align: center;
    margin: 0;
}

.categories {
    display: flex;
}

button {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.options-list {
    display: flex;
    flex-wrap: wrap;
}

.coin {
    height: .75em;
    padding: 0 .25em 0 .5em;
    filter: drop-shadow(0px 0px .5px rgb(0,0,0,1));
}

.cost {
    color: rgb(0,0,0);
    opacity: 75%;
    font-size: .7rem;
}

.options-list > button {
    border-radius: 2em;
    margin: .25em;
    padding: .15em .5em;
    background: white;
    border: solid gray 1px;
}

.options-list > button:active {
    background: lightgray;
    border: solid black 1px;
}

