body{
    margin: 0;
    background: rgb(220, 220, 220);
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 5em;
}

h1 {
    background: rgb(200,200,200);
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    gap: 2em;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    display: flex;

}








